* {
    margin: 0;
    font-family: system-ui, Roboto, sans-serif;
}

.Login {
    background: rgb(195, 34, 86);
    background: linear-gradient(0deg, #c32256 0%, rgba(253, 45, 67, 1) 100%);
    color: antiquewhite;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    padding-right: 40px;
    font-size: bold;
}

.section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

.meio {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 872px;
    height: 180px;
    border-radius: 30px;
}

.popo {
    display: flex;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 52px;
}

.desc {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-decoration: underline 2px;
    padding-bottom: 10px;
}

.meio2 {
    display: flex;
    justify-content: center;
}

.ingre {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 4px;
}

.saruela {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
}

.mapapa {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.mapa {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.mapadiv {
    display: flex;
    justify-content: center;
}

.contato {
    margin: 35px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.get {
    display: flex;
    justify-content: center;
}